.edit-profile-container {
  max-width: max-content;
  margin: auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.edit-profile-title {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  color: var(--primary-color);
  margin-top: 0;
  margin-bottom: 2rem;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.edit-profile-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-profile-label {
  font-weight: 600;
  margin-bottom: 6px;
  color: var(--secundary-color);
}

.container-line-inputs-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.edit-profile-input,
.edit-profile-select {
  min-width: 280px;
  outline: none;
  padding: 12px;
  font-size: 15px;
  border: 1px solid var(--secundary-color);
  border-radius: 6px;
  background-color: #ffffff;
  color: #333333;
}


.edit-profile-input-readonly {
  background-color: #f2f2f2;
  color: #666666;
  cursor: not-allowed;
}

.edit-profile-button {
  padding: 12px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.edit-profile-button:hover {
  opacity: 80%;
}

.edit-profile-error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}

.edit-profile-success {
  text-align: center;
  color: green;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}

.back-button-form {
  color: var(--primary-color);
  font-size: 25px;
  background: none;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 705px) {
    .back-button-form{
        visibility: collapse;
    }
}