.container{
  width: 100vw;
  height: 100vh;
  background-image: url('../../../public/backgorund-pages.png');
  background-position: center;
  background-size: cover;
}

.container-cadastro-sobreposicao {
  background-color: rgba(0, 0, 0, 0.445);
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.register-form-container {
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  margin: auto;
  padding: 2rem;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.register-form-label {
  margin: 0;
  font-weight: 600;
  color: var(--secundary-color);
  margin-bottom: 5px;
}

.register-form-label span {
  color: red;
}

.label-input-register{
  width: max-content;
}

.register-form-input input,
.register-form-input .ant-input-password {
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.register-form-input input:focus,
.register-form-input .ant-input-password:focus {
  border-color: #d60022;
  box-shadow: 0 0 0 2px rgba(214, 0, 34, 0.2);
}

.register-form-input input:hover,
.register-form-input .ant-input-password:hover {
  border-color: #d60022;
  box-shadow: 0 0 0 2px rgba(214, 0, 34, 0.2);
}


.register-checkbox {
  margin-bottom: 1rem;
}

.register-line-inputs {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.register-line-inputs div{
  width: 100%;
}

@media screen and (max-width: 605px) {
  .register-line-inputs {
      flex-wrap: wrap;
  }
}