.cards-driver-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
  box-sizing: border-box;
}
 .caronas-oferecidas{
  color: var(--primary-color);
  text-align: center;
 }

.background {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../../public/backgorund-pages.png');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  width: 100vw;
  height: 100vh;

  color: white;
}